#main-container {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: space-between;
}

.gridRow {
    display: flex;
}

.tile {
    display: flex;
    border: 1px solid;
    padding: 5px;
}